{% extends 'landing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <link rel="stylesheet" href="{% static 'landing/css/post_list.css' %}"/> {% endcomment %}
<link rel="stylesheet" href="{% static 'landing/css/feed.css' %}"/>
<div class="container mgl ">
    
    <div class="row" style="margin-top: 7vh;"> 
        <div class="feed">
            {% if user == request.user %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-12 col-sm-12 border-bottom">
                <h5>Add a Post..!!</h5>   
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-12 col-sm-12 border-bottom">
                <form method="POST"  enctype ="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-flex justify-content-end mb-3">
                        <button class="btn btn-outline-primary">Tweet</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

            {% for post in post_list %}
                
                <div class="post">
                    <div class="post__avatar">
                        <a href="{% url 'profile' post.author.profile.pk %}" >
                            <img class="rounded-circle post-image" height="45" width="45" src="{{post.author.profile.picture.url}}"></img>
                        </a>
                    </div>
            
                    <div class="post__body">
                        <div class="post__header">
                            <div class="post__headerText">
                                <h3>
                                <div>
                                    <p><a style="text-decoration:none;color:black;" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }} </a> &nbsp; <span class="post__headerSpecial">{{post.created_on}}</span></p>
                                    <i></i>
                                </div>
                                </h3>
                            </div>
                            <div class="post__headerDescription tag">
                                <p>{{ post.body }}</p>  
                            </div>
                        </div>
                    {% if post.image.count > 0 %}  
                    {% for img in post.image.all %}
                    <img
                        src="{{ img.image.url }}"
                        style=" max-width:100%;height:auto;border-radius:10px;margin-bottom:10px;"
                    />
                    {% endfor %}
                    {% endif %}
                        <div class="post__footer">
                            <p>
                                <form method = "POST" action="{% url 'like' post.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                    <button style="background-color : transparent; border:none ; box-shadow:none;" type="submit"><i class="fa-solid fa-thumbs-up" style="color: #3b6cde;"><span>&nbsp;{{ post.likes.all.count }}</span></i></button>
                                </form>
                            </p>

                            <p>
                                <form method = "POST" action="{% url 'dislike' post.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}"/>
                                    <button style="background-color : transparent; border:none ; box-shadow:none;" type="submit"><i class="fa-solid fa-thumbs-down" style="color: #d42525;;"><span>&nbsp;{{ post.dislikes.all.count }}</span></i></button>
                                </form>
                            </p>
                            <p>
                                <input type="hidden" name="next" value="{{ request.path }}"/>
                <a href="{% url 'post-detail' post.pk %}" style="background-color : transparent; border:none ; box-shadow:none;"><i class="fa-solid fa-comment"></i></a>
                            </p>
                            <p>Shere post</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}